<% javascript :defaults, 'delegate' %>

<%= error_messages_for :principe %>

<% form_for @principe do |principe_form| %>

  <% content_for :jstemplates do -%>
    <%= "var classe='#{generate_template(principe_form, :classes)}'" %>
  <% end -%>

  <p>
    <%= principe_form.label :name, "Nom" %><br />
    <%= principe_form.text_field :name %>
  </p>

  <h2>Classes d'interaction</h2>
  <div id="classes">
    <% principe_form.fields_for :classes do |classe_form| %>
      <%= render :partial => 'classe', :locals => { :f => classe_form} %>
    <% end %>
  </div>

  <p><%= link_to 'Rajouter une nouvelle classe', '#classe', :class => "add_nested_item", :rel => "classes" %></p>

  <p><%= principe_form.submit "Sauvegarder" %></p>
<% end %>
